.Wrap {
  display: flex;
  flex-direction: row;
}

*{
  box-sizing: border-box;
}

 .Header{
  background-color: #273a59;
  color: white;
 }

 .Header h1 {
   margin:0%;
   padding: 14px;
 }

 .button {
  background-color: #273a59;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.LeftPart{
  flex-basis: 0;
  width: 100%;
  align-items: flex-start;
  text-align:left;
  flex-grow: 2;
  overflow: scroll;
  max-height: 3000px;
}

.RightPart{
  flex-basis: 0;
  align-items: flex-start;
  width: 100%;
  flex-grow: 6;
}

.Link{
  width: 100%;
  background-color: #8697b5;
  color: white;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
}

.Link:hover, .Link:active, a.five:visited {
  background-color: #273a59;
}